.form-group {
    position: relative;
    margin-bottom: 25px;
}


/* hover tooltip */
.tippy-box[data-theme~='custom'] {
    background-color: #c75b5b;
    color: #fff;
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    max-width: 300px;
    word-wrap: break-word;
}

.tippy-box[data-theme~='custom'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: #c75b5b;
}

.tippy-box[data-theme~='custom'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: #c75b5b;
}

.tippy-box[data-theme~='custom'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: #c75b5b;
}

.tippy-box[data-theme~='custom'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: #c75b5b;
}

.tippy-box[data-theme~='custom'] .tippy-arrow {
    color: #c75b5b;
}


/* error tooltip css */
.tooltip-error {
    position: relative;
    margin-top: 6px;
    padding: 8px 12px;
    background: #c75b5b;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: inline-block;
    animation: fadeIn 0.25s ease-in-out;
    min-width: max-content;
}

.tooltip-error::before {
    content: "";
    position: absolute;
    bottom: 100%;
    /* At the top of the tooltip */
    left: 50%;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #c75b5b transparent;
}
@media (min-width: 768px){
    #fromToError .tooltip-error::before {
        left: 20%;
    }
    #fromToError .tooltip-error::after {
        content: "";
        position: absolute;
        bottom: 100%;
        /* At the top of the tooltip */
        left: 80%;
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent #c75b5b transparent;
    }
}



@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-4px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}